[MESSAGES CONTROL]

disable=
    redefined-outer-name,
    too-many-arguments,
    line-too-long,
    missing-docstring

[FORMAT]
good-names=i,j,k,f,c

[BASIC]
variable-rgx=[a-z_][a-z0-9_]{0,62}$


# vi: ft=toml
